[Unit]
Description=BigClown plugin for controlling color of a LED strip
After=network.target mosquitto.service bc-workroom-gateway.service
Requires=mosquitto.service bc-workroom-gateway.service

[Service]
ExecStart=/usr/bin/bc-workroom-ledstrip
User=bigclown
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=bc-workroom-gateway.service
