[Unit]
Description=Blynk plugin for BigClown Workroom Project
After=network.target mosquitto.service bc-workroom-gateway.service
Requires=mosquitto.service bc-workroom-gateway.service

[Service]
ExecStart=/usr/bin/bc-workroom-blynk
User=bigclown
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=bc-workroom-gateway.service
