[Unit]
Description=Blynk plugin for BigClown Workroom Project
After=network.target
Requires=mosquitto.service bc-workroom-gateway.service

[Service]
ExecStart=/usr/bin/bc-workroom-blynk
User=bigclown
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
